<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj uzytkownika</title>
</head>
<body>
    <table class="table">
        <thead class="theme.dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userList}">
                <form action="/deleteUser" method="post" th:object="${user}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getName()}"></td>
                    <td th:text="${user.getSurname()}"></td>
                    <td type="number" th:text="${user.getAge()}"></td>
                    <td th:text="${user.getRoles()}"></td>
                    <td>
                        <input type="hidden" name="id" th:value="${user.id}">
                        <button class="btn btn-warning" value="remove">Usuń</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
    <form action="/adduser" method="post" th:object="${userDto}">
        <p>Name:<input type="text" name="name" th:value="*{name}"></p>
        <p>Surname:<input type="text" name="surname" th:value="*{surname}"></p>
        <p>Age:<input type="number" name="age" th:value="*{age}"></p>
        <p>Password:<input type="text" name="password" th:value="*{password}"></p>
        <select th:field="*{roles}">
            <option th:each="role : ${T(com.sda.werehouse.unit303.model.Roles).values()}"
            th:value="${role}"
            th:text="${role}">
            </option>
        </select>
        <button type="submit">Dodaj użytkownika</button>
    </form>
    <form action="index">
        <button type="submit">Powrót do menu głównego</button>
    </form>
</body>
</html>