<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Archiwum</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Moje wiadomości</h1>
<table class="thick">
    <tr>
        <td>Id zamówienia</td>
        <td>Id uzytkownika</td>
        <td>Id itemu</td>
        <td>czas złożenia</td>
        <td>czas wydania</td>
        <td>czas zwrotu</td>
        <td>Ilość</td>
    </tr>
    <tr th:each="entry : ${archiveset}">
        <td th:text="${entry.getId()}"></td>
        <td th:text="${entry.getUserId()}"></td>
        <td th:text="${entry.getItemId()}"></td>
        <td th:text="${entry.getPostTime()}"></td>
        <td th:text="${entry.getAcceptTime()}"></td>
        <td th:text="${entry.getReturnTime()}"></td>
        <td th:text="${entry.getQuantity()}"></td>
    </tr>
</table>
<form action="/index">
    <button type="submit">Powrót do menu głównego</button>
</form>
</body>
</html>