<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
    <h1>Witaj</h1>
    <h1 th:text="${authMessage}"></h1>
    <h1>Moje wiadomości</h1>
    <tr th:each="text : ${MyMessages}">
        <form action="/markAsRead" method="post">
            <td th:text="${text.sender}"></td>
            <td th:text="${text.date}"></td>
            <td th:text="${text.message}"></td>
            <td>
                <input type="hidden" name="id" th:value="${text.getId()}">
                <button type="submit">Oznacz jako przeczytane</button>
            </td>
        </form>
    </tr>
    <form action="/adduser">
        <button type="submit">Użytkownicy</button>
    </form>
    <form action="/inventory">
        <button type="submit">Magazyn</button>
    </form>
    <form action="/myOrder">
        <button type="submit">Zamówienia</button>
    </form>
    <form action="/logout">
        <button type="submit">Wyloguj</button>
    </form>
</body>
</html>