<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magazyn</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>
    Dostępne pozycje
</h1>
<table class="thick">
    <thead class="theme.dark">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Typ</td>
        <td>Ilość</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${ItemList.values()}">

        <td th:text="${item.getId()}"></td>
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getItemRole()}"></td>
        <td th:text="${item.getQuantity()}"></td>
        <td>
            <form action="/deleteItem" method="post" th:object="${item}">
                <input type="hidden" name="id" th:value="${item.getId()}">
                <input type="hidden" name="itemRole" th:value="${item.getItemRole()}">
                <button class="btn btn-warning" type="remove">Usuń wpis</button>
            </form>
        </td>
        <td>
            <form action="/seeOrders" th:object="${item}">
                <input type="hidden" name="id" th:value="${item.getId()}">
                <input type="hidden" name="quantity" th:value="${item.getQuantity()}">
                <input type="hidden" name="name" th:value="${item.getName()}">
                <button class="btn btn-warning" type="remove">Zobacz zamówienia</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>
<h1>
    <td th:text="${Message}"></td>
</h1>
<h1>Kataloguj produkt</h1>
<form action="/addItem" method="post">
    <p>Name<input type="text" name="name" th:value="*{ItemDto.name}"></p>
    <p>Amount<input type="number" name="quantity" th:value="*{ItemDto.quantity}"></p>
    <select th:field="*{ItemDto.itemRole}">
        <option th:each="role : ${T(com.sda.werehouse.unit303.model.ItemRole).values()}"
                th:text="${role}" th:value="${role}"></option>
    </select>
    <button type="submit">Przeslij</button>
</form>
<form action="/index">
    <button type="submit">Powrót do menu</button>
</form>
</body>
</html>